.counter {
    background-color:#6a5acd;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 1px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color:white;
    font-family: sans-serif;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color:white;
    font-family: sans-serif;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}


#myFooter{
	background-color: lightcyan;
	width: auto;

}