<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">


	<http use-expressions="true">
		<access-denied-handler error-page="/403.jsp" />
		<intercept-url pattern="/admindash*"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/*"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/seller/*"
			access="hasRole('ROLE_SELLER')" />

		<form-login login-page='/welcome'
			default-target-url="/admindash"

			authentication-failure-url="/"
			authentication-success-handler-ref="myAuthenticationSuccessHandler"

			username-parameter="username" password-parameter="password" />

		<csrf disabled="true" />
	</http>


	<beans:bean id="myAuthenticationSuccessHandler"
		class="com.TheOnlineShop.SuccessHandler" />


	<authentication-manager
		id="authenticationManager">
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password, enabled from users where username=?"
				authorities-by-username-query="select username, role from user_roles where username=?  " />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
